<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Account Type: <%= @user.user_accounts.first.account.category if @user.user_accounts %></p>
<p>Locations:</p>
<%if @user_account_locations.present?%>
	<%@user_account_locations.each do |ual|%>
		<p>
			<%=ual.location.address_line_1%><br>
			<%=ual.location.address_line_2%><br>
			<%=ual.location.city%><br>
			<%=ual.location.state%><br>
			<%=ual.location.country%><br>
			<%=ual.location.zipcode%>
		</p>
	<%end%>
<%end%>
